body {
   font-family: "Times New Roman";
   font-size: 14px;
   background-color: skyblue;
   margin-top: 50px;
   margin-left: 75px;
   margin-right: 75px;
   margin-bottom: 50px;
   text-align: left;
   direction: ltr;
   border-style: hidden solid;
}
            
title {
   font-size: 20px;
   text-align: center; 
}
            
h1 {
   color: black;
   text-align: center;
}

#large {
   font-size: 25px;
   font-family: "Times New Roman";
}

.page2 {
   background-color: #69DDFF;
   font-family: "Times New Roman";
}

a:hover {
   color: white;
   font-size: 125%;
}

p {
   background: #69DDFF;
   color: ;
   padding-left: 50px;
   padding-right: 50px;
}

p.important {
   color: green;
   font-size: 16px;
}
