body {
   font-family: "Times New Roman";
   font-size: 14px;
   background-color: skyblue;
   margin-top: 35px;
   margin-left: 35px;
   margin-right: 35px;
   margin-bottom: 35px;
   text-align: left;
   direction: ltr;
}
button, select {
   padding: 10px;
   font-size: 1em;
   background-color: aliceblue;
   border-radius: 5px;
   cursor: pointer;
}
title {
   font-size: 20px;
   text-align: center; 
}
            
h1 {
   color: black;
   text-align: center;
   text-decoration-line: overline underline;
   text-decoration-style: double;
}
main {
   background-color: white;
   padding: 20px;
}
div {
   padding: 10px;
}
.page-container {
   display: flex;
   flex-wrap: wrap;
}
.page-container div {
    border: 1px solid;
    margin: 10px;
}
#large {
   font-size: 25px;
   font-family: "Times New Roman";
}
#toReplace {
   white-space: normal;
   margin: 0;
}
.page2 {
   background-color: #69DDFF;
   font-family: "Times New Roman";
}

a:hover {
   text-shadow: 2px 2px cyan;
   font-size: 125%;
}

p {
   padding-left: 50px;
   padding-right: 50px;
}

p.important {
   color: red;
   font-size: 16px;
}
